.center{
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%)
}
.switch {
  position: relative;
  display: inline-block;
  width:100px;
  height: 34px;
  margin: auto;
}
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border:  5px black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: .6s;
  transition: .6s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;

}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
  background-color: white;
}
#heading{
  text-align: center;
  margin-top: 25%;
  font-size: 60px;

}